

.chat-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #2d3436, #6c5ce7);
    background-size: cover;
}

.chat-container {
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    backdrop-filter: blur(8px);
    background-color: #444;
    border-radius: 10px;
    margin: 20px;
}


#messagesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #messagesList li {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 20px;
        margin-bottom: 10px;
        max-width: 50%;
        color: #fff;
    }

        #messagesList li.user {
            background-color: #6c5ce7;
            margin-left: auto;
        }

        #messagesList li.other {
            background-color:steelblue;
        }

.message-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-text {
    font-size: 1rem;
}

.message-time {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 5px;
    display: block;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

    input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    button:not(:disabled):hover {
        background-color: #0056b3;
    }
